{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Изменение пароля{% endblock %}
{% block page_title %}Изменение пароля{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Изменение пароля
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'users:password_change' %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-primary">Изменить пароль</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
