{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Редактирование профиля{% endblock %}
{% block page_title %}Редактирование профиля{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Редактировать профиль
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
